
{% include nav.html %}

<ul class="list  list--posts">
<li class="item item--posts">
    <h5><a href="{{site.baseurl}}/the-man-cave.html">The Man Cave</a></h5>
    <p>The Man Cave is a barber shop located down the street from my house. They had no website so I decided to make one for them.</p>
</li>
<li class="item item--posts">
    <h5><a href="{{site.baseurl}}/katie-simone.html">Katie Simone</a></h5>
    <p>Katie Simone is a Vocalist from Pittsburgh, PA. Her website enables fans stay up to date on show dates and news.</p>
</li>
<li class="item item--posts">
    <h5><a href="{{site.baseurl}}/brass-tacks.html">Brass Tacks</a></h5>
    <p>Brass Tacks is a detailing business located in Pittsburgh, PA. Users can visit their site and learn about services and schedule detailing appointments.</p>
</li>
</ul>
