
  <!--<h2>About this site</h2>
  <p>{{ site.description }}</p> --->

{% include nav.html %}

  {% unless paginator.posts %}
    {% if page.collection == "posts" %}
      {% include post-related.html %}
    {% else %}
      {% include post-list.html %}
    {% endif %}
  {% endunless %}

  {% if page.collection == "posts" or paginator.posts %}
    {% include button.html text="Subscribe to posts &nbsp;" icon="rss" link="/feed.xml" %}
  {% endif %}

<a class="button" href="{{site.baseurl}}/blog/index.html">More</a>

<!--- posts for homepage --->
