<!---<footer class="footer">
  <div class="container">
    {% include nav-footer.html %}

    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
  </div>
</footer> --->


<footer class="footer">
  <div class="about-container-mobile">
    <img class="charles-mobile" src="/assets/charles-mobile.png" alt="">
    <div class="container about-mobile-text">
      <p>I studied Graphic Design at the Art Institute of Pittsburgh. After I graduated, I taught myself how to build websites. If not for the helpful online community and free learning resources, I would have not excelled into a Graphic Designer/Web Developer. I've combined my design knowledge with code to make cool stuff for the web.</p>
      <p>When I’m not sitting in front of the computer, I enjoy searching for good places to eat, cooking, petting cats, books, expensive beer, and basketball - very nostalgic over 90's basketball.</p>
      <p class="hire"> Looking to hire? <span class="download"><a href="{{site.baseurl}}/resume/index.html">Resume</a></span></p>
      <p class="mobile"><a href="mailto:chrisbrennanpgh@gmail.com">chrisbrennanpgh@gmail.com</a></p>
    </div>

  </div>

  <div class="container about-container-desktop">

      <!--- <h2 class="about-me">About Me</h2> --->
      <img class="pic" src="/assets/me-desktop.png">
      <!-- end pic -->

      <!-- end orange -->
      <img class="about-text" src="/assets/about-text-desktop.png" alt="">
        <p class="hire"> Looking to hire? <span class="download"><a href="{{site.baseurl}}/resume/index.html">Resume</a></span></p>


      <img class="orange-shape-desktop" src="http://imgh.us/orange-shape-desktop.svg" alt="">




    <!-- end orange -->
    <p class="desktop small-copy"><a href="mailto:chrisbrennanpgh@gmail.com">chrisbrennanpgh@gmail.com</a></p>
</div>
  <!-- end box -->
</footer>
